<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>legacy_icon</string>
			<key>CFBundleTypeName</key>
			<string>name</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>identifier</string>
			</array>
			<key>NSDocumentClass</key>
			<string>class</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>identifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>schemes</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>conformsto</string>
			</array>
			<key>UTTypeDescription</key>
			<string>description</string>
			<key>UTTypeIconFile</key>
			<string>legacy_icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>icon_fill</string>
				<key>UTTypeIconBadgeName</key>
				<string>icon_image</string>
				<key>UTTypeIconText</key>
				<string>icon_text</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>identifier</string>
			<key>UTTypeReferenceURL</key>
			<string>referenceurl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>extensions</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>mimeTypes</string>
				</array>
			</dict>
		</dict>
		<dict/>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>conforms</string>
			</array>
			<key>UTTypeDescription</key>
			<string>description</string>
			<key>UTTypeIconFile</key>
			<string>legacy_icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>iconfill</string>
				<key>UTTypeIconBadgeName</key>
				<string>iconimage</string>
				<key>UTTypeIconText</key>
				<string>icontext</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>idenfitifer</string>
			<key>UTTypeReferenceURL</key>
			<string>reference</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>extension</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>mimetypes</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
